body{
  margin: 0px;
}
video{
  display: none;
}

.filter{
  /* opacity: 0.5; */
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.range_opacity_filter{
  /* position: absolute;
  top: 10px;
  left: 10px; */
}

.bold{
  font-weight: bold;
}
.paramater{
  padding-left: 20px;
}

canvas{
  filter: grayscale(0%) brightness(100%);
}
